<script src="~/app/controllers/home.js"></script>
<div data-ng-app='homeApplication' data-ng-controller='homeController'>
    <table>
        <thead>
            <tr>                
                <td>Imię i nazwisko</td>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat='person in people'>
                <td>{{person}}</td>
            </tr>
        </tbody>
    </table>
</div>
